
.status {
  width: 10px;
  height: 10px;
  background: #c0392b;
  display: block;
  float: left;
  margin: 11px 5px 0 0;
  border-radius: 50%;
  &.checked-in {
    background: #2ecc71;
  }
}


div {
  border-bottom: 1px solid #ccc;
  padding: 3px;
  div {
    border: none;
    display: inline-block;
    min-width: 50px;
    &+div {
      min-width: 250px;
    }
  }
  @media (min-width: 650px) {
    button {
      float: right;
      margin-left: 5px;
    }
  }
}
